node_modules/
.env
logs
src/app.js
src/admin
src/auth
src/dev
src/routes
src/utils/db.js
src/utils/ExpressError.js
src/routes/
src/utils/emailService.js
src/views/emails
src/views/admin
src/views/clients
src/views/consultants

# Ignore SSL certificates
localhost-key.pem
localhost.pem

# Ignore macOS system files
.DS_Store